.header-main {
    height: 100px;
    width: 100%;
    background-color:black;
    color: white;
}
body {
    background-image: url('https://images.assetsdelivery.com/compings_v2/merydolla/merydolla1305/merydolla130500323.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.left-div {
    height: 700px;
    width: 200px;
    background-color: #ECF0F1;
}
.header2 {
    background-color: #1C2833;
    height: 100px;
    width: 200px;
    font-family: 'Rancho', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    color: white;
}
.right-div {
    height: 700px;
    width: 200px;
    display: inline;
    position: absolute; left: 1080px; bottom: -170px;
    background-color: #ECF0F1;
    
}
.header3 {
    background-color: #1C2833;
    height: 100px;
    width: 200px;
    font-family: 'Rancho', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    color: white;
}
.logo {
    max-width: 5%;
    width: 5%;
    padding-bottom: 80px;
    padding-left: 600px;
}
.title{
    padding-left: 575px;
    padding-top: 30px;
    color: white;
    font-size: 40px;
}


    

